.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  color: white;
}

.logo{
  width: 10%;
  margin:auto auto;
}

.App-link {
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.push-left {
  margin-left:auto;
  margin-right:1rem;
}
.push-right {
  margin-right:auto;
  
}
.App-main {
  background-color: whitesmoke;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  color: black;
}

.App-footer{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}
