.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 1.2rem;
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

.App-main {
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: 1.2rem;
  color: black;
}

.App-footer{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}
