.advertisementList {
  display: flex;
  flex-direction: column;
  width: 90%;

}

.advertisementList a {
  color:black;
  text-decoration: none;
}

.advertisementList a:hover {
  color:blue;
  text-decoration: none;
}